body {background-color:	#aaccff;}
h1 {color: #3333ff;
   font-style:italic;	
   font-size:36;	
   font-family:serif;				
   margin:20px;	
   padding:20px;}

h2 {color: #aa33ff; 
    font-style:	normal;	
    font-size:24;
    font-family:serif;	
    margin:20px;
    padding:20px;}

h3 {color: #aa33ff; 
    font-family: "Times New Roman", Times, serif;
    font-style:	normal;	
    font-size:18;	
    margin:20px;
    padding:20px;}

p {color: #aa33ff; 
    font-family: "Times New Roman", Times, serif;
    font-style:	normal;	
    font-size:14;	
    margin:20px;
    padding:20px;}
	
   
img {margin:20px;}
